DB_URL=jdbc:mysql://localhost:3307/webtoon
DB_USERNAME=
DB_PASSWORD=

MAIL_PORT=
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=

B2_ACCESS_KEY_ID=
B2_API_KEY=
B2_END_POINT=
B2_REGION=
B2_BUCKET_NAME=

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

FRONTEND_URL=http://localhost:3000
BACKEND_URL=https://api.webtoonnkt.click
CORS_ALLOWED_ORIGINS=https://webtoonnkt.click,http://localhost:3000